<div class="o-layout">
  <div class="o-layout__item u-1/2">
    <h2>New User</h2>
    <%= render "form.html", changeset: @changeset,
                            action: user_path(@conn, :create) %>
  </div>
</div>
