<h1>Welcome <%= @current_user.first_name %> <%= @current_user.last_name %></h2>

<ul>

  <li>
    <strong>Username:</strong>
    <%= @current_user.username %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @current_user.email %>
  </li>

</ul>
