<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= if Guardian.Plug.current_token(@conn) do %>
      <meta name='guardian-token' content="<%= Guardian.Plug.current_token(@conn) %>">
    <% end %>

    <title>On WI PCA</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/css?family=Cantata+One|Caveat:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
  </head>

  <body>
    <%= if management_page?(@conn) do %>
      <%= if logged_in?(@conn) do %>
        <div class="o-layout">
          <div class="o-layout__item u-1/3">
            <h1>Username: <%= @current_user.username %></h1>
            <p><a href="/">Home</a></p>
          </div>

          <div class="o-layout__item u-2/3">
            <%= unless is_nil(get_flash(@conn, :info)) do %>
              <h1><%= get_flash(@conn, :info) %></h1>
            <% end %>

            <%= render @view_module, @view_template, assigns %>
          </div>
        </div>
      <% end %>
    <% else %>
      <%= unless is_nil(get_flash(@conn, :info)) do %>
        <h1><%= get_flash(@conn, :info) %></h1>
      <% end %>

      <%= render @view_module, @view_template, assigns %>
    <% end %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
