.u-copy-cursive {
  font-family: 'Cantana One', serif;
  @include inuit-font-size(72px);
}

.u-copy-serif {
  font-family: 'Caveat', cursive;
  @include inuit-font-size(72px);
}

.u-copy-small {
  @include inuit-font-size( 12px);
}

.u-copy-justify {
  text-align: justify;
}
