.c-navbar {
  margin-top: inuit-rem(12px);

  .o-pack__item {

    a {
      color: $white;
      text-decoration: none;
      text-align: center;
      padding: inuit-rem(8px) inuit-rem(12px);
      border-radius: $global-radius;

      &:hover {
        background-color: lighten($red, 10%);
      }
    }
  }
}
