.c-panel {
  z-index: 1000;
  position: absolute;
  top: 0px;
  right: inuit-rem(32px);

  .c-panel__menu {
    position: absolute;
    z-index: 1002;
    top: inuit-rem(16px);
    right: inuit-rem(10px);

    a {
      background-color: $white;
      padding: inuit-rem(7px) inuit-rem(7px) inuit-rem(10px);
      border: inuit-rem(1px) solid $dark-blue;
      border-radius: inuit-rem(2px);
    }
  }

  .c-panel__body {
    position: absolute;
    z-index: 1001;
    background-color: $white;
    border-right: inuit-rem(2px) solid $dark-blue;
    border-left: inuit-rem(2px) solid $dark-blue;
    border-bottom: inuit-rem(2px) solid $dark-blue;
    min-height: 100vh;
    height: 0px;
    width: 0px;
    display: none;
  }
}
