.c-timeline {

  .c-timeline__item {
    list-style-type: none;
    position: relative;
    width: inuit-rem(6px);
    min-height: inuit-rem(250px);
    margin: 0 auto;
    padding-top: inuit-rem(12px);
    padding-bottom: inuit-rem(12px);
    background: $white;

    .c-timeline__item__container {
      display: inline-block;
      position: relative;
      width: inuit-rem(400px);
      padding: inuit-rem(18px);
      border-radius: inuit-rem(4px);

      &:before {
        content: '';
        position: absolute;
        top: inuit-rem(7px);
        width: 0px;
        height: 0px;
        border-style: solid;
      }

      &:first-child {
        left: inuit-rem(-439px);
        background-color: $white;

        &:before {
          right: inuit-rem(-15px);
          border-width: inuit-rem(8px) 0px inuit-rem(8px) inuit-rem(16px);
          border-color: transparent transparent transparent $white;
        }
      }

      &:last-child {
        position: absolute;
        top: inuit-rem(12px);
        left: inuit-rem(45px);
        background-color: $red;

        &:before {
          left: inuit-rem(-15px);
          border-width: inuit-rem(8px) inuit-rem(16px) inuit-rem(8px) 0px;
          border-color: transparent $red transparent transparent;
        }
      }
    }
  }
}
