.c-navbar {
  margin-top: inuit-rem(12px);

  @include mq($until: tablet) {
    display: block;
    margin-top: 0;
    text-align: right;
    width: 100%;
  }

  .c-navbar__menu {
    position: absolute;
    display: none;
    z-index: 100;
    top: inuit-rem(8px);
    right: inuit-rem(8px);

    @include mq($until: tablet) {
      display: block;
    }
  }

  .o-pack {

    @include mq($until: tablet) {
      display: block;
      width: 100%;
      height: 100vh;
      padding-top: inuit-rem(80px);
      text-align: center;
    }

    &.o-pack--closed {

      @include mq($until: tablet) {
        display: none;
      }
    }
  }

  .o-pack__item {
    text-align: center;

    a {
      display: block;
      color: $white;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      padding: inuit-rem(8px) inuit-rem(12px);
      border-radius: $global-radius;
      width: 80%;

      &:hover {
        background-color: $red;
      }

      @include mq($until: tablet) {
        width: 100%;
        text-align: center;
        padding: inuit-rem(12px);
      }
    }

    &:nth-child(3) {
      margin-right: inuit-rem(12px);

      @include mq($until: tablet) {
        margin-right: 0px;
      }
    }

    &:last-child {
      border-left: inuit-rem(1px) solid $white;
      padding-left: inuit-rem(12px);

      @include mq($until: tablet) {
        display: none;
      }
    }

    @include mq($until: tablet) {
      display: block;
      text-align: right;
    }
  }
}
