///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.
$global-radius: 3px !default;
$global-transition: (1/3) + s !default;

$inuit-offsets: true;

$white: #FEFDFF;
$red: #AA0916;
$green: #63A31E;
$silver: #C1BFB5;
$base-color: #8EB1C7;
$blue: darken($base-color, 40%);
$dark-blue: darken($base-color, 40%);
$orange: #EB4511;
$black: #333;

$pathway-one: lighten($blue, 20%);
$pathway-two: $green;
$pathway-three: $red;
