section {
  display: flex;
  justify-content: center;
  color: $white;
  background-color: $blue;
  padding-top: inuit-rem(32px);

  &:first-child {
    min-height: 100vh;
  }

  .o-wrapper {
    display: block;
    width: 100%;
  }

  &#home {
    flex-direction: column;
    background-color: $red;
    align-items: center;
  }

  &#history {
    padding-bottom: inuit-rem(32px);
  }

  &#mission {
    background-color: lighten($silver, 24%);
    background-image: url(/images/logo.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: $blue;
    min-height: inuit-rem(700px)
  }

  &#pathways {
    min-height: 100vh;
    border-top: inuit-rem(12px) solid $dark-blue;
    border-bottom: inuit-rem(12px) solid $dark-blue;
    background-color: $white;
    padding-top: 0px;
  }

  &#funding {
    min-height: 100vh;
  }

  &#contact {
    background-color: $red;
    height: inuit-rem(220px);
    min-height: inuit-rem(220px);
    border-top: inuit-rem(2px) solid $white;
  }
}
