.o-hero {
  color: $white;

  h1 {
    line-height: inuit-rem(48px);
    font-family: 'Cantana One', serif;

    span {

      &:first-child {
        display: block;
        font-size: inuit-rem(28px);
        transform: translateX(-135px) translateY(20px);
      }

      &:nth-child(2) {
        display: block;
        font-family: 'Caveat', cursive;
        font-size: inuit-rem(96px);
        transform: rotateZ(-10deg);
      }

      &:last-child {
        font-weight: 100;
        display: block;
        font-size: inuit-rem(72px);
        transform: translateX(110px) translateY(5px);
      }
    }
  }

  h2 {
    text-align: center;
    @include inuit-font-size(22px);
  }
}
