section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $red;
}

h1 {
  color: $white;
  line-height: inuit-rem(72px);
  font-family: 'Cantana One', serif;

  span {
    &:first-child {
      font-size: inuit-rem(36px);
    }

    &:nth-child(2) {
      display: block;
      font-family: 'Caveat', cursive;
      font-size: inuit-rem(96px);
      transform: rotateZ(-10deg) translateX(-10px) translateY(-40px);
    }

    &:last-child {
      font-weight: 100;
      display: block;
      font-size: inuit-rem(96px);
      transform: translateX(135px) translateY(-30px);
    }
  }
}
